In [ ]:
#23 Feb Assignment Solution

In [ ]:
pip install pandas

In [ ]:
#Ans 1:
import pandas as pd
 
# create series form a list
ser = pd.Series([4,8,15,16,23,42])
print(ser)

In [ ]:
#Ans 2:
import pandas as pd
 
# a simple list
list = ["Hello",4,27,857,275,"I","Hi","Aryan",464.36,"A"]
 
# create series form a list
ser = pd.Series(list)
print(ser)

In [ ]:
#Ans 3:
import pandas as pd

dictionary = { 'Name' : ["Alice","Bob","Claire"],
           'Age' : [25,30,37],
           'Gender' : ["Female","Male","Female"] 
            }
#load data into a DataFrame object:
df = pd.DataFrame(dictionary)
print(df)

In [ ]:
#Ans 4:
'''
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

A Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column.
The main distinction between the two is this.
For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

Example:-
'''
print("Dataframe Example:-")
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df) 

print("Series Example:-")
# Create a Pandas Series from a list
data = [1000, 2000, 3000, 4000, 5000]
s = pd.Series(data)

# Print the Series
print(s)

In [ ]:
#Ans 5:
'''
Some common functions you can use to manipulate data in a Pandas DataFrame:-
1.Head and Tail
2.Shape, Size and Info
3.Columns
4.apply()
5.applymap()
6.Read Data

'''
import pandas as pd
df = pd.read_csv("services.csv")
df.head()
df.tail(7)
list(df.columns)

In [ ]:
#Ans 6:
'''
DataFrames are both value and size-mutable 
(A Series, by contrast, is only value-mutable, not size-mutable. 
The length of a Series cannot be changed although the values can be changed)
'''

In [23]:
#Ans 7:
import pandas as pd

# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([22000,25000,23000],name='fees')
discount  = pd.Series([1000,2300,1000], name='discount')

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print("Create pandas Series:\n",df)

Create pandas Series:
    courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000